/* General styling */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    overflow: hidden;
    font-family: 'Octynaz', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

:root {
    --grid-size: 500px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: var(--grid-size);
    position: relative;
}

.field {
    height: calc(var(--grid-size) / 10);
    width: calc(var(--grid-size) / 10);
    border-width: 1px;
    border-style: solid;
}

body {
    position: relative;
    height: 100vh;
}

body:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url('images/BG.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

header {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#logo {
    font-size: 50px;
    margin: 40px;
}

#placeholder {
    font-size: 45px;
    margin: 40px;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
}

section{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#me{
    font-size: 40px;
    margin-left: 425px;
}

#computer{
    font-size: 40px;
    margin-right: 385px;
}


.water {
    background-color: blue;
  }
  .ship {
    background-color: black;
  }
  .unknown {
    background-color: grey;
  }
  .miss {
    background-color: yellow;
  }
  .hit {
    background-color: red;
  }
  